#reminder {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px 15px;
}
#reminder p {
    margin-bottom: 7px;
    font-style: italic;
}

.sort-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px 25px;
}
.sort-btn {
    width: 33%;
    padding: 2px 7px;
    background-color: rgb(202, 14, 14);
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin: 0px 10px;
}
.sort-btn:hover {
    cursor: pointer;
}

.ranking-hr {
    border-top: 1px solid grey;
    width: 100%;
}

main {
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rankings {
    width: 65%;
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 8px 8px 15px 8px rgba(0, 0, 0, 0.5);
    padding-bottom: 25px;
    background-color: rgb(233, 233, 233);
}

#rank-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0px 0px;
}

#rank-intro h2 {
    font-size: 40px;
}

#rank-intro p {
    margin-top: 10px;
}

#center-info {
    display: flex;
    justify-content: center;
}

#player-info {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-name {
    font-size: 18px;
    padding-left: 10px;
}

.player-name span {
    font-size: 11px;
}

.small-a-points {
    font-size: 7px;
}

.list {
    display: flex;
    align-items: center;    
    flex-direction: column;
    margin: 15px 25px 0px 45px;
}
.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
    border-bottom: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 5px 10px 5px 1px;
}
/* .list .list-item idv:nth-child(1),
.list .list-item idv:nth-child(2) {
    flex: 1;
} */

@media screen and (max-width: 700px) {
    #rank-intro h2 {
        font-size: 28px;
    }
    #rank-intro p {
        margin-bottom: 40px;
        padding: 0px 40px;
        text-align: center;
    }
    .pts {
        margin-right: 30px;
    }
    #rankings {
        width: 85%;
    }
    
}