/* .red-title {
    background-image: linear-gradient(to bottom right, rgb(211, 0, 0) , rgb(255, 166, 0));
    padding: 10px;
    border-radius: 10px;
    color: white;
} */
#first-news1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#first-news-container1 {
    width: 60%;
    text-align: center;
}
#first-news-container1 h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 32px;
}
#first-news-container1 p {
    margin: 15px;
}
.states-tabs {
    font-size: 26px;
    background-color: rgb(80, 80, 80);
    color:white;
    padding: 5px 10px;
    border-radius: 15px;
}
.side-event {
    border: 1px solid black;
    border-radius: 15px;
}